@font-face {
    font-family: Oswald-Bold;
    src: url(../font/Oswald/Oswald-Bold.ttf);
    }

@font-face {
    font-family: Oswald-ExtraLight;
    src: url(../font/Oswald/Oswald-ExtraLight.ttf);
    }

@font-face {
    font-family: Oswald-Light;
    src: url(../font/Oswald/Oswald-Light.ttf);
    }

@font-face {
    font-family: Oswald-Medium;
    src: url(../font/Oswald/Oswald-Medium.ttf);
    }

@font-face {
    font-family: Oswald-Regular;
    src: url(../font/Oswald/Oswald-Regular.ttf);
    }

@font-face {
    font-family: Oswald-SemiBold;
    src: url(../font/Oswald/Oswald-SemiBold.ttf);
    }

@font-face {
    font-family: Oswald-VariableFont__wght;
    src: url(../font/Oswald/Oswald-VariableFont_wght.ttf);
    }

#inicio {
    height: 100vh;
    width: 100%;
    background-color: brown

}