    @font-face {
        font-family: Oswald-Bold;
        src: url(../font/Oswald/Oswald-Bold.ttf);
        }

    @font-face {
        font-family: Oswald-ExtraLight;
        src: url(../font/Oswald/Oswald-ExtraLight.ttf);
        }

    @font-face {
        font-family: Oswald-Light;
        src: url(../font/Oswald/Oswald-Light.ttf);
        }

    @font-face {
        font-family: Oswald-Medium;
        src: url(../font/Oswald/Oswald-Medium.ttf);
        }

    @font-face {
        font-family: Oswald-Regular;
        src: url(../font/Oswald/Oswald-Regular.ttf);
        }
    
    @font-face {
        font-family: Oswald-SemiBold;
        src: url(../font/Oswald/Oswald-SemiBold.ttf);
        }
    
    @font-face {
        font-family: Oswald-VariableFont__wght;
        src: url(../font/Oswald/Oswald-VariableFont_wght.ttf);
        }

body {
    overflow-x:hidden;
    overflow-y:auto;
    font-family: Oswald-Regular
}

#pagina.noscroll{
    overflow: hidden;
    -webkit-overflow-scrolling: unset;
    scroll-behavior:unset;
    overscroll-behavior: unset
}

body:-webkit-scrollbar {
    width: 0;
    background-color: transparent;
}

#mainNav {
    position: fixed;
    width: 100%;
    height: auto;
    font-family: Oswald-Medium;
    font-size: 1rem;
    background-color: transparent;
    z-index: 1028;
    padding: 1rem 0 1rem 0;
    -webkit-transition: all .5s;
    transition: all .5s;
}

#mainNav.nav-cambio {
    background-color: #524c61;
    padding: .75rem 0 0 0
}

.nav-link {
    position: relative;
    color: #ffffff;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.oculto {
    visibility: hidden;
    display: none
}

.nav-link:hover,.nav-link.active {
    color: #ffffff;
    opacity: .6;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
}

.nav-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background: #ffffff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.nav-link:hover:before, .nav-link.active:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}

#inicio{
    display: table;
    width: 100%;
    top: 0;
    height: 100vh;
}

#inicio:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

#inicio .reserva, #nosotros .detalles, .menú ul {
    position: relative;
    width: 100%;
    z-index: 4;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

#destinos, #servicios, #contacto {
    min-height: 100vh;
}

#destinos {
    margin: 10vh 0
}

#servicios {
    margin-bottom: 50vh
}

#nosotros {
    width: 100%;
    display: table;
    min-height: 100vh
}

.datos {
    min-height: 100vh;
    padding-top: 5rem
}

.mapa {
    padding: 0;
    margin: 0
}


.sección{
    height: 100vh;
    padding: 0;
    position: relative;
    color: #fff;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

@media (max-width: 991px) { 
    .sección {
        height: 25vh;
    }

    .titulo-detalles, .carousel-texto {
        display: none;
        visibility: hidden
    }

    .titulo {
        bottom: .5rem;
    }

    #mainNav {
        display: none;
        visibility: hidden
    }
 }

 @media (min-width: 992px) {

        .sección:hover {
        z-index: 3;
        transform: scale(1.05);
        box-shadow: 0px 28px 81px -7px rgba(0,0,0, 0.5);
        cursor: pointer;
    }

    .sección:hover .imagen {
        -webkit-transform:scale3d(1.1,1.1,1) rotate(.01deg);
        transform:scale3d(1.1,1.1,1) rotate(.01deg);
        opacity:.4
    }

    .sección:hover .titulo h1 {
        font-size: 1.75rem
    }
    
    .sección:hover .titulo h1 span{
        font-size: 2.25rem
    }



 }

.sección .imagen, .item-mitad .imagen, .item-full .imagen, #detalles-destinos .imagen, #inicio .imagen{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-position: center;
    -ms-background-size: cover;
    background-size: cover;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -webkit-transform: translatez(0);
    -ms-transform: translatez(0);
    transform: translatez(0);
    opacity: 1;
    z-index: 1;
}

.sección .imagen:before, .item-mitad .imagen:before, .item-full .imagen:before, #detalles-destinos .imagen:before {
    content: '';
    bottom: 0;
    left: 0;
    -webkit-background: -webkit-linear-gradient(top,rgba(17,18,54,0) 0,#111236 100%);
    -moz-background: linear-gradient(180deg,rgba(17,18,54,0) 0,#111236 100%);
    -ms-background: linear-gradient(180deg,rgba(17,18,54,0) 0,#111236 100%);
    background: linear-gradient(180deg,rgba(17,18,54,0) 0,#111236 100%);
    display: block;
    position: absolute;
    height: 50%;
    width: 100%;
}

.sección .nav-link {
    position: relative;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.titulo {
    position: absolute;
    padding: 0 1rem 0 2rem;
    width: 100%;
    bottom: 3rem;
    color: #ffffff;
    z-index: 10;
}

.titulo-detalles {
    position: absolute;
    padding: 0 1rem 0 2rem;
    top: 5rem;
    color: #ffffff;
    z-index: 10;
    transition: all 1s ease;
    opacity: 0;
}

.titulo-detalles .intro {
    font-size: 1.4rem;
}
.sección:hover .titulo-detalles{
    opacity: 1;
}

.transition {
    width: 100px;
    height: 100px;
    background: #f92672;
    transition: width 2s, height 2s, margin 2s;
    margin: 50px auto 0;
}
.transition:hover{
    width: 100%;
    height: 200px;
    margin: 0 auto;
}

.titulo h1{
    font-family: Oswald-ExtraLight;
    font-size: 1.5rem;
    transition: all .5s ease-in-out
}

.titulo h1 span{
    font-family: Oswald-Regular;
    font-size: 2rem;
    transition: all .5s ease-in-out
}

@media (max-width: 991px) {

    .titulo {
        bottom: .5rem;
        padding: 0 1rem 0 1.5rem
    }

    .titulo h1{
        font-family: Oswald-ExtraLight;
        font-size: 1.2rem;
        transition: all .5s ease-in-out
    }
    
    .titulo h1 span{
        font-family: Oswald-Regular;
        font-size: 1.8rem;
        transition: all .5s ease-in-out
    }

}

@media (max-width: 400px) {

    .titulo {
        bottom: .5rem;
        padding: 0 1rem 0 1.5rem
    }

    .titulo h1{
        font-family: Oswald-ExtraLight;
        font-size: 1.2rem;
        transition: all .5s ease-in-out
    }
    
    .titulo h1 span{
        font-family: Oswald-Regular;
        font-size: 1.8rem;
        transition: all .5s ease-in-out
    }

}




.promociones {
    background-image: -webkit-linear-gradient(left, #593dd5, #fc2b00);
    background-image: -moz-linear-gradient(left, #593dd5, #fc2b00);
    background-image: -ms-linear-gradient(left, #593dd5, #fc2b00);
    background-image: -o-linear-gradient(left, #593dd5, #fc2b00);
    background-image: linear-gradient(to right, #593dd5, #fc2b00);
}

.nacional {
    background-image: -webkit-linear-gradient(left, #593dd5, #fc2b00);
    background-image: -moz-linear-gradient(left, #593dd5, #fc2b00);
    background-image: -ms-linear-gradient(left, #593dd5, #fc2b00);
    background-image: -o-linear-gradient(left, #593dd5, #fc2b00);
    background-image: linear-gradient(to right, #593dd5, #fc2b00);
}

.internacional {
    background-image: -webkit-linear-gradient(left, #593dd5, #fc2b00);
    background-image: -moz-linear-gradient(left, #593dd5, #fc2b00);
    background-image: -ms-linear-gradient(left, #593dd5, #fc2b00);
    background-image: -o-linear-gradient(left, #593dd5, #fc2b00);
    background-image: linear-gradient(to right, #593dd5, #fc2b00);
}

.paquetes {
    background-image: -webkit-linear-gradient(left, #593dd5, #fc2b00);
    background-image: -moz-linear-gradient(left, #593dd5, #fc2b00);
    background-image: -ms-linear-gradient(left, #593dd5, #fc2b00);
    background-image: -o-linear-gradient(left, #593dd5, #fc2b00);
    background-image: linear-gradient(to right, #593dd5, #fc2b00);
}

.vehículos {
    background-image: -webkit-linear-gradient(left, #593dd5, #fc2b00);
    background-image: -moz-linear-gradient(left, #593dd5, #fc2b00);
    background-image: -ms-linear-gradient(left, #593dd5, #fc2b00);
    background-image: -o-linear-gradient(left, #593dd5, #fc2b00);
    background-image: linear-gradient(to right, #593dd5, #fc2b00);
}

.hoteles {
    background-image: -webkit-linear-gradient(left, #593dd5, #fc2b00);
    background-image: -moz-linear-gradient(left, #593dd5, #fc2b00);
    background-image: -ms-linear-gradient(left, #593dd5, #fc2b00);
    background-image: -o-linear-gradient(left, #593dd5, #fc2b00);
    background-image: linear-gradient(to right, #593dd5, #fc2b00);
}

.seguros {
    background-image: -webkit-linear-gradient(left, #593dd5, #fc2b00);
    background-image: -moz-linear-gradient(left, #593dd5, #fc2b00);
    background-image: -ms-linear-gradient(left, #593dd5, #fc2b00);
    background-image: -o-linear-gradient(left, #593dd5, #fc2b00);
    background-image: linear-gradient(to right, #593dd5, #fc2b00);
}

.cruceros {
    background-image: -webkit-linear-gradient(left, #593dd5, #fc2b00);
    background-image: -moz-linear-gradient(left, #593dd5, #fc2b00);
    background-image: -ms-linear-gradient(left, #593dd5, #fc2b00);
    background-image: -o-linear-gradient(left, #593dd5, #fc2b00);
    background-image: linear-gradient(to right, #593dd5, #fc2b00);
}

.item-mitad.eventos {
    background-image: -webkit-linear-gradient(left, #593dd5, #fc2b00);
    background-image: -moz-linear-gradient(left, #593dd5, #fc2b00);
    background-image: -ms-linear-gradient(left, #593dd5, #fc2b00);
    background-image: -o-linear-gradient(left, #593dd5, #fc2b00);
    background-image: linear-gradient(to right, #593dd5, #fc2b00);
}

.item-mitad.viajes {
    background-image: -webkit-linear-gradient(left, #593dd5, #fc2b00);
    background-image: -moz-linear-gradient(left, #593dd5, #fc2b00);
    background-image: -ms-linear-gradient(left, #593dd5, #fc2b00);
    background-image: -o-linear-gradient(left, #593dd5, #fc2b00);
    background-image: linear-gradient(to right, #593dd5, #fc2b00);
}

.item-full {
    background-image: -webkit-linear-gradient(left, #593dd5, #fc2b00);
    background-image: -moz-linear-gradient(left, #593dd5, #fc2b00);
    background-image: -ms-linear-gradient(left, #593dd5, #fc2b00);
    background-image: -o-linear-gradient(left, #593dd5, #fc2b00);
    background-image: linear-gradient(to right, #593dd5, #fc2b00);
}

.item-mitad.noticias {
    background-image: -webkit-linear-gradient(left, #593dd5, #fc2b00);
    background-image: -moz-linear-gradient(left, #593dd5, #fc2b00);
    background-image: -ms-linear-gradient(left, #593dd5, #fc2b00);
    background-image: -o-linear-gradient(left, #593dd5, #fc2b00);
    background-image: linear-gradient(to right, #593dd5, #fc2b00);
}

.item-mitad.consejos {
    background-image: -webkit-linear-gradient(left, #593dd5, #fc2b00);
    background-image: -moz-linear-gradient(left, #593dd5, #fc2b00);
    background-image: -ms-linear-gradient(left, #593dd5, #fc2b00);
    background-image: -o-linear-gradient(left, #593dd5, #fc2b00);
    background-image: linear-gradient(to right, #593dd5, #fc2b00);
}

.tarjeta {
    background-image: -webkit-linear-gradient(left, #593dd5, #fc2b00);
    background-image: -moz-linear-gradient(left, #593dd5, #fc2b00);
    background-image: -ms-linear-gradient(left, #593dd5, #fc2b00);
    background-image: -o-linear-gradient(left, #593dd5, #fc2b00);
    background-image: linear-gradient(to right, #593dd5, #fc2b00);
}

.descripción {
    position: relative;
    top: 20%
}

.sección-nosotros {
    height: 60vh;
}

.item-nosotros {
    height: 100%;
}

.item-mitad {
    height: 50%;
}

.item-mitad a, .item-full a {
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    z-index: 4
}

.item-full, .item-mitad {
    position: relative;
    color: #fff;
    overflow: hidden;
    box-sizing: border-box;
}

.contenedor {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.item-mitad:hover .imagen, .item-full:hover .imagen, #detalles-destinos .tarjeta:hover .imagen {
    -webkit-transform: scale3d(1.2,1.2,1) rotate(.01deg);
    transform: scale3d(1.2,1.2,1) rotate(.01deg);
    opacity: .4;
}

.descripción-item-nosotros {
    position: absolute;
    left:0;
    bottom:0;
    width: 100%;
    padding: 2rem;
    z-index: 2;
}

.descripción-item-nosotros h3 {
    font-size: 2rem;
    transition: all .5s ease-in-out
}

.item-mitad:hover .descripción-item-nosotros h3, .item-full:hover .descripción-item-nosotros h3 {
    font-size: 2.5rem
}

.full-section {
    padding: 0;
    margin:0;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #f3f2f5;
    z-index: 1030;
    transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
    -webkit-transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
    -moz-transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
    overflow-x: hidden;
    overflow-y: auto;
}

.aparece {
    right: 0;
}

.menú {
    position: fixed;
    display: table;
    width: 100%;
    height: 100vh;
}

#detalles-destinos {
    padding-top: 20vh;
    padding-bottom: 20vh
}

#detalles-destinos .tarjeta {
    position: relative;
    color: #fff;
    height: 15rem;
    overflow: hidden;
    box-sizing: border-box;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    cursor: pointer;
}

#detalles-destinos .tarjeta:hover {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
}

#detalles-destinos .contenedor {
    height: 100%;
}

.oferta {
    position: absolute;
    left:1rem;
    bottom:1rem;
    z-index: 4;
    background-color: transparent;
}

.oferta h1{
    font-size: 2.1rem;
    transition: all .5s ease-in-out
}

#detalles-destinos .tarjeta:hover .oferta h1 {
    font-size:2.5rem
}

.oferta h1:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    background: #ffffff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

#detalles-destinos .tarjeta:hover .oferta h1:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}

.carousel-inner, .carousel, .carousel-item {
    height: 100%;
    width: 100%
}

.carousel-texto {
    position: relative;
    padding: 4rem 1rem 0 1rem;
    text-align: center;
    color: #ffffff;
    z-index: 5;
    transition: all .4s ease-in-out;
}

.sección:hover .carousel-texto {
    opacity: 0;
}

.marco {
    padding:.5rem
}

.tipo {
    position: absolute;
    z-index: 4;
    width: 3rem;
    height: 3rem;
    right: 1rem;
    bottom: 1rem;
}

.mensaje {
    position: absolute;
    width: 100%;
    height: auto;
    top: 1rem;
    right: 0;
    left: 0;
    text-align: center;
    z-index: 4;
    opacity: 0;
    transition: all .5s ease-in-out
}

.tarjeta:hover .mensaje {
    opacity: 1;
}

.owl-nav {
    position: absolute;
    width: 100%;
    height: auto;
    top: 40%;
    left:0;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    background-color: rgba(255,255,255,.6);
    height: 3rem;
    width: 2rem;
    display: table-cell;
    z-index: 10;
    opacity:1;
    transition: all .5s ease-in-out
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev span {
    color: #ffffff;
}

.owl-carousel .owl-nav button.owl-prev {
    left: 0;
}

.owl-carousel .owl-nav button.owl-next {
    right: 0;
}

.owl-carousel .owl-nav button.owl-prev.disabled, .owl-carousel .owl-nav button.owl-next.disabled {
    opacity: 0
}

.owl-carousel .owl-nav button.owl-next.disabled {
    right:-2rem
}

.owl-carousel .owl-nav button.owl-prev.disabled {
    left: -2rem
}

.img-articulo {
    display: block;
    height: 8rem;
    width: 8rem;
    text-align: center;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.tip {
    width: calc(100% - 9rem);
}

.articulo.left .img-articulo {
    float: left
}

.articulo.left .tip {
    float: right
}

.articulo.right .img-articulo {
    float: right
}

.articulo.right .tip {
    float: left
}

.articulo {
    position: relative;
    padding-top: 3rem
}

.menú-contenido {
    padding: 5rem 0 5rem 0
}




